################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RegisterationService/.vs/Registeration/DesignTimeBuild/.dtbcache.v2
/RegisterationService/.vs/Registeration/FileContentIndex/711df1e1-3c46-4d2f-8876-405b58cdcb1b.vsidx
/RegisterationService/.vs/Registeration/FileContentIndex/ae1cd68a-c587-42cf-b2b3-d3d70a78b002.vsidx
*.vsidx
/RegisterationService/.vs/Registeration/v17/.suo
