################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RegisterationService/.vs/Registeration/DesignTimeBuild/.dtbcache.v2
